<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Commit Visualizer</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .zoom-rect {
          fill: none;
          pointer-events: none;
        }
      </style>
</head>
<body>
    <h1>Git Commit Visualizer</h1>
    <div>
        <label for="author-filter">Filter by Author:</label>
        <input type="text" id="author-filter" placeholder="Enter author name">
        <button id="apply-filter">Apply Filter</button>
    </div>
    <div id="tooltip" class="tooltip" style="opacity: 0;"></div>
    <svg width="960" height="600"></svg>
    <script src="{{ url_for('static', filename='js/visualization.js') }}"></script>
</body>
</html>

